html, body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.form-select {
    margin-top: 10px;
    margin-left: 180px;
}

.form-check {
    margin-top: 10px;
    margin-left: 180px;
}